<p class="panel callout">Hey: keep in mind that shortcuts and urls that you add to this site are public! Other people can see them and use them too!</p>

<%= form_for(@shortcut) do |f| %>
  <% if @shortcut.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@shortcut.errors.count, "error") %> prohibited this shortcut from being saved:</h3>

      <ul>
      <% @shortcut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shortcut %>
    <%= f.text_field :shortcut %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <span id="notes_to_user" class="label round secondary"></span>

  <div class="actions">
    <%= f.submit(button_text, :id => 'shortcut_submit', :class => 'button') %>
    <%= link_to 'Cancel', root_path %>
  </div>
<% end %>
