<p class="look_at_me">Hey, keep in mind that shortcuts and urls that you add to this site are public! Other people can see them and use them too!</p>

<%= form_for(@shortcut) do |f| %>
  <% if @shortcut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortcut.errors.count, "error") %> prohibited this shortcut from being saved:</h2>

      <ul>
      <% @shortcut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shortcut %>
    <%= f.text_field :shortcut %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div id="notes_to_user"></div>
  <div class="actions">
    <%= f.submit(button_text, :id => 'shortcut_submit') %>
    <%= link_to 'Cancel', root_path %>
  </div>
<% end %>

<%= javascript_tag do %>
  var MakeClearWhatIsHappening = {
    now: function(event) {
      var shortcut = $('#shortcut_shortcut').val();
      var url = $('#shortcut_url').val();
      if (url === 'http://') url += '?';
      if (shortcut.length == 0) shortcut = '?';
      if (url.length == 0) url = '?';
      $('#notes_to_user').html("When you go to <strong><%= App.programmatic_name %>/" + shortcut + "</strong> in your browser, you will be taken to <strong>" + url + "</strong>");
    }
  }

  MakeClearWhatIsHappening.now();

  $('#shortcut_shortcut').focus();

  $('#shortcut_shortcut').on('keyup', MakeClearWhatIsHappening.now);
  $('#shortcut_url').on('keyup', MakeClearWhatIsHappening.now);
<% end %>

