<h1><%= @page_title %></h1>

<p>The purpose of the <strong><%= App.programmatic_name %></strong> site is to help you <strong>get to</strong> and <strong>share</strong> websites, especially on the intranet, quickly and easily.</p>

<p>Once you add shortcuts, you will be able to see them on the <%= link_to 'main page', root_url %>. In fact, you can add shortcuts from there too, so <%= link_to 'go to the main page', root_url %>. If you run into a bug, have a comment about the site, or would like to offer a suggestion, please <%= mail_to CONTACT_EMAIL, 'be in touch' %>.</p>

<p>Note that this interface has only been tested in Firefox 7 and above, and requires CSS and Javascript to be enabled. Please use a modern browser when using internal tools!</p>

<h3>Keep in mind...</h3>

<p>
Everyone's tolerance level for questionable jokes, photos, etc, is different, and there are a <strong>lot</strong> of people working here. The sense of community we enjoy at <%= COMPANY_NAME %> is largely due to the trust and respect we have for each other. Each employee is responsible for the content of <strong>all</strong> text and images that they link to from this site. The bottom line is that no one's dignity or comfort level on the job should be diminished by the way you present yourself in this (or any other) work-related forum. Fraudulent, harassing, political, and religious content is prohibited. Please help to make <%= COMPANY_NAME %>--including this site--a safe and pleasant place to be!
</p>

