<h1><%= @page_title %></h1>


<% if @other_links.any? %>
  <h2>Random shortcuts added by other users</h2>
  <table class="links">
    <tr>
      <th class="shortcut">Shortcut</th>
      <th class="destination">Url</th>
      <th class="actions">Actions</th>
    </tr>

    <% @other_links.each_with_index do |link, ii| %>
      <tr>
        <% destination = link.url.include?('%s') ? nil : go_path(:path => link.shortcut) %>
        <td class="shortcut"><%= destination ? link_to(link.shortcut, destination) : link.shortcut %></td>
        <td class="destination"><%= destination ? link_to(link.url, destination) : link.url %></td>
        <td class="actions"><%= link_to 'More info', link_path(link) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% more_links_avilable = @my_links.size > 5 %>
<h2>My Shortcuts <%= link_to('[show all]', my_links_path) if more_links_avilable %></h2>

<% if @my_links.any? %>
  <table class="links">
    <tr>
      <th class="shortcut">Shortcut</th>
      <th class="destination">Url</th>
      <th class="actions">Actions</th>
    </tr>

    <% @my_links.each_with_index do |link, ii| %>
      <% next if ii == 5 %>
      <tr>
        <% destination = link.url.include?('%s') ? nil : go_path(:path => link.shortcut) %>
        <td class="shortcut"><%= destination ? link_to(link.shortcut, destination) : link.shortcut %></td>
        <td class="destination">
          <% if destination %>
            <%= link_to(link.url, destination) %>
          <% else %>
            <%= link.url %>
            <% path = link.link_visits.first.if_hot {|lv| lv.path } %>
            <% if path %>
              (last used: <%= link_to(go_url(path), go_path(path)) %>)
            <% end %>
          <% end %>
        </td>
        <td class="actions"><%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Delete', link, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'More info', link_path(link) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>You haven't added any shortcuts yet. Read <%= link_to 'about this site', about_path %>.</p>
<% end %>

<%= link_to 'Add a shortcut', new_link_path %>
