<h1><%= @page_title %></h1>

<% if @my_links.any? %>
  <table>
    <tr>
      <th>Shortcut</th>
      <th>Url</th>
      <th>Actions</th>
    </tr>

    <% @my_links.each_with_index do |link, ii| %>
      <tr>
        <% destination = link.url.include?('%s') ? nil : go_path(:path => link.shortcut) %>
        <td><%= destination ? link_to(link.shortcut, destination) : link.shortcut %></td>
        <td>
          <% if destination %>
            <%= link_to(link.url, destination) %>
          <% else %>
            <%= link.url %>
            <% path = link.link_visits.first.if_hot {|lv| lv.path } %>
            <% if path %>
              (last used: <%= link_to(go_url(path), go_path(path)) %>)
            <% end %>
          <% end %>
        </td>
        <td class="actions"><%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Delete', link, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'More info', link_path(link) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to 'Add a shortcut', new_link_path %>
