<p id="notice"><%= notice %></p>

<p>
  <b>Shortcut:</b>
  <%= @link.shortcut %>
</p>

<% destination = @link.url.include?('%s') ? nil : go_path(:path => @link.shortcut) %>
<p>
  <b>Url:</b>
  <% if destination %>
    <%= link_to(@link.url, destination) %>
  <% else %>
    <%= @link.url %>
  <% end %>
</p>

<p>
  <b>Added by:</b>
  <%= @link.user.if_hot {|u| u.identifier } %>
</p>


<% if @link.url.include?('%s') && @link.link_visits.any? %>
  <strong>Recent usage</strong>

  <ul>
    <% @link.link_visits.limit(10).order('created_at desc').each_with_index do |link_visit, ii| %>
      <li>
        <%= link_to(go_url(link_visit.path), go_path(link_visit.path)) %>
      </li>
    <% end %>
  </ul>
<% end %>
