<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="body_wrapper">
    <div class="noprint">
      <div id="header">
        <% if false %><h1><%= link_to(App.programmatic_name, root_url) %></h1><% end %>
        <h1><%= link_to(image_tag('under_construction.gif'), root_url) %></h1>
        <%= image_tag('rosettastone.png', :class => 'logo', :alt => 'Rosetta Stone') %>
      </div>

      <div id="utility">
        <%= link_to "Sign out", sign_out_path, :class => "sign_out" %>
      </div>
    </div><%# class "noprint" -%>
    <div id="container">
      <%# render :partial => 'shared/flash_area' -%>
      <%= yield %>
    </div>
    <div class="noprint">
      <div id="footer">
        <p><%= App.programmatic_name %> &copy; <%= Time.now.year %> <%= COMPANY_NAME %>. <%= link_to 'About this site', about_url %>. <%= mail_to CONTACT_EMAIL, 'Feedback' %>.</p>
      </div>
    </div><%# class "noprint" -%>
  </div><%# body_wrapper -%>
</body>
</html>
